    {{> head }}

    {{> navbar }}

    <div class="card" style="width: 18rem;">
        <img src="assets/img/about.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">{{ capitalizar 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quidem iste aperiam. Voluptate nostrum, nemo rerum, error maxime culpa mollitia amet explicabo ea esse ipsam, consequuntur libero aliquid iure ullam!' }}</p>
        </div>
    </div>


    {{> footer }}